* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.teamCard {
    width:210px;
    height:210px;    
}

.image {
    width:100%;
    height:70%;
}

img {
    width:100%;
    object-fit: cover;
}

.buttons > * {
    display:inline-block;
    border: 2px solid brown;
    width:calc(210px/3);
    text-align: center;
    font-weight: 600;
    font-size: 0.9rem;
}

.teamName {
    width:210px;
    border:1px solid green;
    text-align: center;
}